@media (max-width: 500px) {
  #header {
    flex-direction: column;
  }

  #header-img {
    display: none;
  }
  #logo {
    text-align: center;
  }

  #logo {
    padding: 10px;
  }
  #nav-bar {
    width: 90%;
    height: 40px;
    justify-content: space-around;
  }
}
